*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/quanta5/release/app-quanta5-release.aab
app/quanta5/release/app-quanta5-release.apk
app/release/app-release.aab
release/app-release.aab
quanta5/release/app-quanta5-release.aab
maximlis/release/app-maximlis-release.aab
pathogold/release/app-pathogold-release.aab
pathogoldfrench/release/app-pathogoldfrench-release.apk
