<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bms.pathogold_bms">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.INTERNET" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.CAMERA" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.CALL_PHONE" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" tools:remove="android:maxSdkVersion"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- Required only when requesting background location access on Android 10 (API level 29) and higher. -->
    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <!-- TODO: Add both activity recognition permissions to the manifest. -->
    <!--
&lt;!&ndash; Required for 28 and below. &ndash;&gt;
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" /> &lt;!&ndash; Required for 29+. &ndash;&gt;
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" tools:remove="android:maxSdkVersion"/>
    <!--
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    -->
    <queries>
        <package android:name="com.google.android.youtube" />
        <package android:name="com.bms.pathogold_bms" />
    </queries>

    <application
        android:name=".services.DigiPath"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PathoGold"
        tools:replace="android:theme"
        tools:targetApi="n">

        <activity
            android:name=".activity.SupportActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PayuCheckOutActivity"
            android:exported="false" />

        <activity
            android:name=".activity.CheckSlotForBookAppActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LabDetailsActivity"
            android:exported="false" /> <!-- android:usesCleartextTraffic="true" -->
        <activity
            android:name=".activity.SuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CheckOutActivity"
            android:exported="true" />

        <activity
            android:name="com.razorpay.CheckoutActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/RazorpayTheme"
            tools:replace="android:theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data
                    android:host="rzp.io"
                    android:scheme="io.rzp" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.BMSCheckOutActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OtpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LogInWithOtpActivty"
            android:exported="false" />
        <activity android:name=".activity.LoadFragmentActivity" />
        <activity
            android:name=".activity.SpecificChatActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="CHAT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DashBoardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".activity.BookAppointmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PreViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PhotoViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WebviewActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.VideoConferenceActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="VIDEOCALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VideoConferenceActivity2"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:supportsPictureInPicture="true"
            android:taskAffinity="">
            <intent-filter>
                <action android:name="VIDEOCALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LoginTypeActivity"
            android:screenOrientation="portrait"
            android:launchMode = "singleTop"/>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- location service.. -->
        <service
            android:name=".services.LocationService"
            android:enabled="true" /> <!-- Firebase notification service.. -->
        <service
            android:name=".fcm.MyFirebaseMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
        Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <!--
        Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_700" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".services.PatientAppointmentReminderBroadcast" /> <!-- Keep it false in production environment -->

        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>
    </application>

</manifest>